.container {
  display: flex;
  flex-direction: row;
}

.leaderboard {
  flex: 1;
}

.categoryWrapper {
  width: 120px;
}

.category {
    text-align: right;
    padding: 4px;
    cursor: pointer;

  &:hover {
    background-color: #f5f6fa;
  }

  &.active {
    background-color: #dcdde1;
  }
}

.player {
  display: flex;
  flex-direction: row;


  div {
    padding: 4px;
    margin: 4px;
    height: 20px;
    line-height: 20px;
  }

  .rating, .progress {
    font-size: 12px;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    font-family: "Courier New", Courier, monospace;
    width: 35px;
    text-align: right;
  }

  .title {
    width: 20px;
    color: #ebb504;
    text-align: center;
  }

  .username {
    width: 200px;
  }
}
