.container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
}


.categoryWrapper {
  width: 120px;
  background-color: #f5f6fa;
}

.category {
    text-align: right;
    padding: 4px;
    cursor: pointer;
    border-right: 1px solid #2f3640;

  &:hover {
    background-color: #e7e8ec;
  }

  &.active {
    background-color: #dcdde1;
  }
}

.player {
  display: flex;
  flex-direction: row;


  div {
    padding: 4px;
    margin: 4px;
    height: 20px;
    line-height: 20px;
  }

  .rank, rating, .progress {
    font-size: 12px;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    font-family: "Courier New", Courier, monospace;
    width: 35px;
    text-align: right;
  }

  .title {
    width: 20px;
    color: #ebb504;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .username {
    width: 200px;
    color:black;
    cursor: pointer;
    
    &:hover {
      color: #718093;
      text-decoration: underline;
    }
  }

  &:nth-child(even) {
    background-color: #f5f6fa;
  }
}
